.App {
  width: 100vw;
  height: 100vh;
  color: white;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.input_container {
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.plus {
  height: 100%;
  width: 15%;
  background-color: rgb(193, 221, 192);
  position: absolute;
  right: 0%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: rgb(159, 218, 159);
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cubeContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputCont {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.work-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}
.workContainerCard {
  width: 31%;
  height: 30vh;
  background-color: white;
  z-index: 5;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 4px gray;
}
.worktoDo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 117, 117);
  font-weight: 900;
  border-radius: 5%;
  width: 100%;
  color: rgb(202, 78, 78);

  height: 15%;
}
.workinProgress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 224, 174);
  font-weight: 900;
  border-radius: 5%;
  width: 100%;
  color: rgb(163, 167, 87);

  height: 15%;
}
.workinDone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 236, 188);
  font-weight: 900;
  border-radius: 5%;
  width: 100%;
  color: rgb(90, 160, 98);

  height: 15%;
}
.elementdiv {
  font-size: 0.5em;
  padding: 0.5em;
  color: red;
  background-color: whitesmoke;
  margin-top: 0.5em;
  z-index: 6;
}
.ediv {
  background-color: white;
}
